body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    position: fixed;
    top:0;
}

.contain {
    margin-top: 100px;
}

p {
    font-size: 23px;
    color: rgb(92,51,23);
    line-height: 31px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#rodape {
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    border:solid;
    clear: both;

}

.embrulho {
    width:100%;
    /*border: solid;*/
}

.lado-direito {
    width:45%;
    float: right;
    /*border: solid;*/
}

.lado-esquerdo {
    width:45%;
    float: left;
    /*border: solid;*/

}

table {
    clear:both;
}